@import 'base','common';
.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	min-height:100%;
	height:auto;
	margin:0 auto;
	background:url(../images/logo_bg.jpg) repeat-y;
	background-size:100% auto;
	overflow: hidden;
}
.header{
	position:relative;
	width:100%;
	height:5rem;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	.logo{
		width:2.77rem;
		height:3.02rem;
		img{
			width:100%;
		}
	}
	p{
		position:absolute;
		left:1.2rem;
		bottom:0.15rem;
		font:.33rem/1.5 $publicFont;
		color:#fff;
	}
}
.shand{
	padding:.2rem 0 .2rem  1.23rem;
	background:rgba(43,43,43,.8);
	@include display(flex);
	@include align-items(center);
	.img{
		width:.64rem;
		height:.65rem;
		img{
			width:100%;
		}
	}
	p{
		margin-left:.15rem;
		font:.5554rem/1.5 $publicFont;
		color:#fff;
	}
}
.login{
	margin-top:.05rem;
	background:rgba(43,43,43,.8);
	.itmes{
		padding-top:.55rem;
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		i{
			&:first-child{
				width:.57rem;
				height:.57rem;
				img{
					width:100%;
				}
			}
			&:last-child{
				width:.36rem;
				height:.38rem;
				img{
					width:100%;
				}
			}
		}
		label{
			padding:0 .15rem;
			margin:0 .15rem;
			width:3.78rem;
			height:.6rem;
			border-bottom:1px solid #fff;
			font-size:0;
			input{
				background:none;
				border:none;
				outline:none;
				width:100%;
				height:100%;
				font:.33rem/1.5 $publicFont;
				color:#fff;
				&::-webkit-input-placeholder{
					color:#fff;
				}
			}
		}
	}
	.btn{
		margin:.55rem auto 0;
		width:5.1rem;
		height:.9rem;
		border-radius:5px;
		background-color: #f7ab22;
		background: -webkit-linear-gradient(right bottom, #f8ab26 , #fe8f4d); 
		background: -o-linear-gradient(top left, #f8ab26, #fe8f4d); 
		background: -moz-linear-gradient(top left, #f8ab26, #fe8f4d); 
		background: linear-gradient(to top left, #f8ab26 , #fe8f4d); 
		-webkit-box-shadow:0px 2px 5px #ff9602; 
		box-shadow:0px 2px 5px #ff9602;
		a{
			display:block;
			font:.44rem/.9rem $publicFont;
			color:#fff;
			text-align:center;
		}
	}
	.footer{
		padding-bottom:.3rem;
		margin:.55rem .6rem 0 .6rem;
		@include display(flex);
		@include align-items(center);
		@include justify-content(flex-end);
		.text{
			p{
				font:.125rem/1.2 $publicFont;
				color:#fff;
			}
		}
		h3{
			margin-left:.3rem;
			font:.3rem/1.5 $publicFont;
			color:#fff;
		}
	}
}
